# Node.js
node_modules/

# Compiled output
build/
dist/

# Local development files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# TypeScript
*.tsbuildinfo

# npm
*.log